@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

.o-catalog-aviou {
  min-height: 300px;
  position: relative;
}

.o-catalog-aviou__container {
  height: calc(100dvh - 128px);
}